@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: #000;
  color-scheme: dark;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

body, input, textarea{
  font-size: 14px;
  font-weight: 100;
  font-family: 'Noto Sans KR', sans-serif;
}

h1,h2,h3,h4,h5,h6{font-weight: 100;}

input {
  border: 0;
  background-color: transparent;
}

li {list-style: none;}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer
}

.swiper-slide {
  width: 100%;
  height: 100%;
}

.Home_popular__lyq2Y .swiper-wrapper {
  padding: 0 3rem 1rem;
}

.Home_popular__lyq2Y .swiper-wrapper > div {
  margin-left: 1.5rem;
}

.swiper-button-prev {
  display: block;
  font-size: 1.2rem;
  width: 1.5rem;
  height: 1.5rem;
  color: #fff;
  position: absolute;
  top: 45%;
  left: 0;
  z-index: 10;
}

.swiper-button-disabled {
  display: none;
}

.swiper-button-next {
  display: block;
  font-size: 1.2rem;
  width: 1.5rem;
  height: 1.5rem;
  color: #fff;
  position: absolute;
  top: 45%;
  right: 0;
  z-index: 10;
}

.swiper-button-prev svg, .swiper-button-next svg {
  background-color: rgba(0,0,0,0.4);
  cursor: pointer;
}

.active {
  font-weight: 500;
}