@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: #000;
  color-scheme: dark;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

body, input, textarea{
  font-size: 14px;
  font-weight: 100;
  font-family: 'Noto Sans KR', sans-serif;
}

h1,h2,h3,h4,h5,h6{font-weight: 100;}

input {
  border: 0;
  background-color: transparent;
}

li {list-style: none;}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer
}

.swiper-slide {
  width: 100%;
  height: 100%;
}

.Home_popular__lyq2Y .swiper-wrapper {
  padding: 0 3rem 1rem;
}

.Home_popular__lyq2Y .swiper-wrapper > div {
  margin-left: 1.5rem;
}

.Detail_similar__xpYCl .swiper-slide {
  width: auto !important;
  margin-right: 1.5rem;
}

.swiper-button-prev {
  display: block;
  font-size: 1.2rem;
  width: 1.5rem;
  height: 1.5rem;
  color: #fff;
  position: absolute;
  top: 45%;
  left: 0;
  z-index: 10;
}

.swiper-button-disabled {
  display: none;
}

.swiper-button-next {
  display: block;
  font-size: 1.2rem;
  width: 1.5rem;
  height: 1.5rem;
  color: #fff;
  position: absolute;
  top: 45%;
  right: 0;
  z-index: 10;
}

.swiper-button-prev svg, .swiper-button-next svg {
  width: 1.5rem;
  height: 2.3rem;
  background-color: rgba(0,0,0,0.5);
  cursor: pointer;
}

.active {
  color: #fff !important;
  font-weight: 600;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner h2 {
  text-align: center;
  line-height: 35px;
}

.spinner img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.swal2-popup {
  display: none;
  position: relative !important;
  box-sizing: border-box !important;
  grid-template-columns: minmax(0, 100%) !important;
  width: 32em !important;
  max-width: 100% !important;
  padding: 0 0 1.25em !important;
  border: none !important;
  border-radius: 5px !important;
  background: #19191a !important;
  color: #b0b0b0 !important;
  font-family: inherit !important;
  font-size: 1rem !important;
}

.paging {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.paging button {
  color: #999999;
  font-size: 20px;
  margin: 0 .6rem;
}

@media (min-width: 425px) and (max-width: 768px) {
  .Home_popular__lyq2Y .swiper-wrapper {
    padding: 0 1rem .5rem;
  }

  .swiper-slide img {
    width: 9rem;
    height: auto;
  }
}

@media (max-width: 424px) {
  .Home_popular__lyq2Y .swiper-wrapper {
    padding: 0 .4rem .2rem;
  }

  .swiper-slide img {
    width: 6.5rem;
    height: auto;
  }

  .swiper-button-next {
    right: -5px;
  }

  .swiper-button-prev svg, .swiper-button-next svg {
    width: 1.2rem;
    height: 1.5rem;
  }
}