.wrapper {
  padding: 0 3rem 12rem;
  background-color: #000;
  width: 100%;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-position: center;

  h4 {
    width: 35%;
    font-weight: 700;
    font-size: 45px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }

  p {
    width: 30%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-top: .5rem;
    font-size: 16px;
  }

  a {
    background-color: rgba(109, 109, 110, 0.7);
    width: fit-content;
    height: fit-content;
    padding: .5rem 1.8rem;
    border-radius: 5px;
    margin-top: 1rem;
    display: table;

    svg {
      width: 1.6rem;
      height: 1.6rem;
      display: table-cell;
      vertical-align: middle;
    }
    span {
      display: table-cell;
      vertical-align: middle;
      padding-left: .5rem;
      font-size: 16px;
      font-weight: 300;
    }
  }
}

.list {
  position: relative;
  padding: 2rem 3rem;
  p {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: .8rem;
  }
  img {
    border-radius: 3px;
  }
}

.popular {
  .popularItem::before {
    content: attr(data-idx);
    display: block;
    position: absolute;
    bottom: -50px;
    left: -60px;
    color: rgba(0,0,0,0.5);
    font-size: 150px;
    font-weight: 700;
    font-style: italic;
    -webkit-text-stroke: 2px #bbb;
    letter-spacing: -10px;
  }
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  transition: all .3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
  cursor: pointer;

  li {
    margin-top: .3rem;
    &:first-child {
      width: 2rem;
      height: 2rem;
    }
    &:nth-child(2) {
      width: 80%;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
      margin-top: .6rem;
      font-size: 1rem;
      font-weight: 500;
    }
    &:nth-child(3) {
      span {
        font-weight: 400;
      }
    }
    &:last-child {
      width: 80%;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      font-size: .8rem;
    }
  }

  &:hover {
    opacity: 1;
    background-color: rgba(0,0,0,0.8);
  }
}
