.wrapper {
  padding: 0 3rem 12rem;
  background-color: grey;
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  h4 {
    font-weight: 700;
    font-size: 30px;
  }

  p {
    width: 30%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-top: .5rem;
  }
}

.list {
  padding: 2rem 3rem;
  p {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: .8rem;
  }
  img {
    border-radius: 3px;
  }
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  transition: all .3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
  cursor: pointer;

  li {
    margin-top: .3rem;
    &:first-child {
      width: 2rem;
      height: 2rem;
    }
    &:nth-child(2) {
      width: 80%;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
      margin-top: .6rem;
      font-size: 1rem;
      font-weight: 500;
    }
    &:nth-child(3) {
      span {
        font-weight: 400;
      }
    }
    &:last-child {
      width: 80%;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      font-size: .8rem;
    }
  }

  &:hover {
    opacity: 1;
    background-color: rgba(0,0,0,0.8);
  }
}
