.wrapper {
  padding: 0 3rem 12rem;
  background-color: grey;
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  h4 {
    font-weight: 700;
    font-size: 30px;
  }

  p {
    width: 30%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-top: .5rem;
  }
}
