.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-image: linear-gradient(to top, transparent, black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}
