.wrapper {
  margin-top: 5rem;
  padding: 3rem;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
  margin: 0 auto;
}

.imageBox {
  width: 30%;
  height: 100%;
  img {
    border-radius: 3px;
    height: 100%;
    box-shadow: rgba(255, 255, 255, 0.05) 0px 6px 24px 0px, rgba(255, 255, 255, 0.08) 0px 0px 0px 1px;
  }
}

.detailBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  padding-left: 2rem;

  li {
    &:first-child {
      font-size: 50px;
      font-weight: 500;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
    }
    &:nth-child(2) {
      width: 90%;
      font-size: 18px;
      color: #999;
      margin-top: .2rem;
      display: flex;
      justify-content: space-between;
      div {
        display: flex;
        align-items: center;
        p {
          color: #fff;
          font-size: 35px;
          font-weight: 500;
          margin-right: .5rem;
        }
        svg {
          color: #ffd93d;
          width: 2.5rem;
          height: 2.5rem;
        }
      }
    }
    &:nth-child(3) {
      width: 90%;
      margin-top: 1rem;
      font-size: 18px;
      font-weight: 400;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
    }
    &:last-child {
      margin-top: .4rem;
      color: #ccc;
      width: 90%;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      line-height: 1.4rem;
    }
  }
}

.similar {
  width: 92%;
  p {
    font-size: 20px;
    font-weight: 500;
    margin-top: 2.5rem;
  }
  img {
    border-radius: 3px;
    margin-top: 1.2rem;
  }
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  transition: all .3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: .8rem;
  cursor: pointer;

  li {
    margin-top: .3rem;
    &:first-child {
      display: none;
    }
    &:nth-child(2) {
      width: 80%;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
      margin-top: .3rem;
      font-size: 20px;
      font-weight: 500;
      color: #fff;
    }
    &:nth-child(3) {
      font-size: 13px;
      margin-top: .3rem;
      span {
        font-weight: 400;
      }
    }
    &:last-child {
      width: 80%;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      font-size: 13px;
      line-height: 18px;
    }
  }

  &:hover {
    opacity: 1;
    background-color: rgba(0,0,0,0.8);
  }
}

.review {
  width: 1280px;
  margin: 4rem auto;

  ul {
    margin-top: 1.5rem;
    li {
      display: flex;
      align-items: center;
      margin: 1rem 0;
      padding: 1rem;
      border: 1px solid #444;
      border-radius: 5px;
      box-sizing: border-box;
    }
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  p {
    font-size: 25px;
    font-weight: 400;
  }
  button {
    font-size: 22px;
    font-weight: 300;
    &:hover {
      text-decoration: underline;
    }
  }
}

.iconBox {
  margin-left: .5rem;
  margin-right: 1.5rem;
  height: 1.7rem;

  svg {
    width: 1.7rem;
    height: 1.7rem;
  }
}

.textBox {
  p {
    &:first-child {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 5px;
    }
    &:last-child {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }
  }
}

.paging {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-size: 25px;
  a {
    margin: 0 .5rem;
  }
}

.nonReview {
  margin-top: 4rem;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  color: #999;
}