.wrapper {
  margin-top: 5rem;
  padding: 3rem;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}

.imageBox {
  width: 30%;
  height: 100%;
  img {
    border-radius: 3px;
    height: 100%;
    box-shadow: rgba(255, 255, 255, 0.05) 0px 6px 24px 0px, rgba(255, 255, 255, 0.08) 0px 0px 0px 1px;
  }
}

.detailBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  padding-left: 2rem;

  li {
    &:first-child {
      font-size: 50px;
      font-weight: 500;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
    }
    &:nth-child(2) {
      width: 90%;
      font-size: 18px;
      color: #999;
      margin-top: .2rem;
      display: flex;
      justify-content: space-between;
      div {
        display: flex;
        align-items: center;
        p {
          color: #fff;
          font-size: 35px;
          font-weight: 500;
          margin-right: .5rem;
        }
        svg {
          color: #ffd93d;
          width: 2.5rem;
          height: 2.5rem;
        }
      }
    }
    &:nth-child(3) {
      width: 90%;
      margin-top: 1rem;
      font-size: 18px;
      font-weight: 400;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
    }
    &:last-child {
      margin-top: .4rem;
      color: #ccc;
      width: 90%;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      line-height: 1.4rem;
    }
  }
}

.similar {
  p {
    font-size: 20px;
    font-weight: 500;
    margin-top: 2.5rem;
  }
  img {
    border-radius: 3px;
    margin-top: 1.2rem;
  }
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  transition: all .3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: .8rem;
  cursor: pointer;

  li {
    margin-top: .3rem;
    &:first-child {
      display: none;
    }
    &:nth-child(2) {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
      margin-top: .3rem;
      font-size: 18px;
      font-weight: 500;
      color: #fff;
    }
    &:nth-child(3) {
      font-size: 13px;
      margin-top: .3rem;
      span {
        font-weight: 400;
      }
    }
    &:last-child {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      font-size: 13px;
      line-height: 18px;
    }
  }

  &:hover {
    opacity: 1;
    background-color: rgba(0,0,0,0.8);
  }
}

// 리뷰 컴포넌트
.review {
  width: 1200px;
  margin: 4rem auto;

  ul {
    margin-top: 1.5rem;
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 1rem 0;
      padding: 1rem;
      border: 1px solid #444;
      border-radius: 5px;
      box-sizing: border-box;
    }
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  p {
    font-size: 25px;
    font-weight: 400;
  }
  button {
    font-size: 22px;
    font-weight: 300;
    &:hover {
      text-decoration: underline;
    }
  }
}

.iconTextBox {
  display: flex;
  align-items: center;
}

.iconBox {
  margin-left: .5rem;
  margin-right: 1.5rem;

  svg {
    width: 2rem;
    height: 2rem;
  }
}

.textBox {
  p {
    &:first-child {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 5px;

      span {
        font-size: 13px;
        font-weight: 100;
        color: #999999;
        margin-left: .6rem;
      }
    }
    &:last-child {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }
  }
}

.buttonBox {
  svg {
    width: 1.2rem;
    height: 1.2rem;
    color: #999999;
    margin: .5rem;
  }
}

.nonReview {
  margin-top: 4rem;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  color: #999;
}

// 모달창
.reviewAddModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.6);
  z-index: 150;
}

.addBox {
  background-color: #111;
  width: 40vw;
  height: 400px;
  padding: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.05) 0px 6px 24px 0px, rgba(255, 255, 255, 0.08) 0px 0px 0px 1px;

  h2 {
    font-size: 30px;
    font-weight: 400;
  }

  svg {
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
  }

  .addText {
    input {
      padding: 5px 10px 5px;
      border: 1px solid #aaa;
      border-radius: 3px;
      width: 30%;
      height: 40px;
      margin-top: 35px;
      font-size: 16px;
    }

    textarea {
      display: block;
      padding: 10px 10px 5px;
      border: 1px solid #aaa;
      border-radius: 3px;
      width: 100%;
      height: 100px;
      margin-top: 24px;
      background-color: transparent;
      font-size: 16px;
    }

    p {
      color: #824EFF;
      font-weight: 500;
      margin-top: 8px;
      margin-left: 2px;
      font-size: 16px;
    }
  }

  button {
    font-size: 16px;
    font-weight: 700;
    background-color: #eee;
    color: #000;
    padding: 10px 18px;
    border-radius: 3px;
    position: absolute;
    right: 2rem;
    bottom: 2rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .wrapper {
    padding: 1rem 3rem;
  }

  .container {
    width: 88vw;
    align-items: flex-start;
  }

  .imageBox {
    width: 35%;
    img {
      width: 100%;
      height: 446px;
    }
  }

  .detailBox {
    width: 65%;
    height: 446px;
    li {
      &:first-child {
        font-size: 30px;
      }
      &:nth-child(2) {
        width: 100%;
        font-size: 16px;
        div {
          justify-content: space-between;
          p {
            font-size: 24px;
          }
          svg {
            width: 2rem;
            height: 2rem;
          }
        }
      }
      &:nth-child(3) {
        font-size: 16px;
      }
      &:last-child {
        width: 100%;
        font-size: 13px;
      }
    }
  }

  .similar {
    p {
      font-size: 16px;
      margin-top: 1.5rem;
    }
    img {
      width: 120px;
      height: fit-content;
    }
  }

  .cover {
    padding: .6rem;
    li {
      margin-top: .1rem;
      &:nth-child(2) {
        font-size: 14px;
      }
      &:nth-child(3) {
        font-size: 12px;
      }
      &:last-child {
        font-size: 12px;
        margin-top: .2rem;
        line-height: 15px;
      }
    }
  }

  .review {
    width: 88vw;
  }

  .title {
    p {
      font-size: 20px;
    }
    button {
      font-size: 18px;
    }
  }

  .nonReview {
    font-size: 16px;
    line-height: 28px;
  }

  .addBox {
    width: 50vw;
    h2 {
      font-size: 25px;
    }
    svg {
      width: 1.6rem;
      height: 1.6rem;
    }
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .wrapper {
    padding: 0.5rem 2rem;
  }

  .container {
    display: block;
    width: 100%;
  }

  .imageBox {
    width: 100%;
    height: 30vh;
    overflow: hidden;
    border-radius: 3px;
    img {
      width: 100%;
      height: 100vh;
    }
  }

  .detailBox {
    width: 100%;
    padding: 0;

    li {
      &:first-child {
        font-size: 24px;
        margin-top: .5rem;
      }
      &:nth-child(2) {
        width: 100%;
        font-size: 15px;
        div {
          justify-content: space-between;
          p {
            font-size: 20px;
          }
          svg {
            width: 1.5rem;
            height: 1.5rem;
          }
        }
      }
      &:nth-child(3) {
        font-size: 15px;
        margin-top: .5rem;
      }
      &:last-child {
        width: 100%;
        font-size: 13px;
        line-height: 18px;
      }
    }
  }

  .similar {
    p {
      font-size: 16px;
      margin-top: 1.5rem;
    }
    img {
      width: 120px;
      height: fit-content;
    }
  }

  .cover {
    padding: .6rem;
    li {
      margin-top: .1rem;
      &:nth-child(2) {
        font-size: 14px;
      }
      &:nth-child(3) {
        font-size: 12px;
      }
      &:last-child {
        font-size: 12px;
        margin-top: .2rem;
        line-height: 15px;
      }
    }
  }

  .review {
    width: 100%;
    margin: 2rem auto;
  }

  .title {
    p {
      font-size: 18px;
    }
    button {
      font-size: 16px;
    }
  }

  .iconBox {
    margin-left: 0;
    margin-right: 1rem;
    svg {
      width: 1.8rem;
      height: 1.8rem;
    }
  }

  .textBox {
    p {
      &:first-child {
        font-size: 14px;
        span {
          font-size: 12px;
        }
      }
      &:last-child {
        font-size: 13px;
      }
    }
  }

  .buttonBox {
    svg {
      width: 1.1rem;
      height: 1.1rem;
      margin: .4rem;
    }
  }

  .nonReview {
    font-size: 15px;
    line-height: 26px;
  }

  .addBox {
    width: 70vw;
    height: 350px;
    padding: 1.5rem;
    h2 {
      font-size: 20px;
    }
    svg {
      width: 1.6rem;
      height: 1.6rem;
    }

    .addText {
      input {
        width: 40%;
        margin-top: 25px;
      }
      textarea {
        margin-top: 15px;
        font-size: 15px;
      }
      p {
        font-size: 15px;
      }
    }

    button {
      font-size: 15px;
      padding: 8px 16px;
    }
  }
}

@media (max-width: 424px) {
  .wrapper {
    margin-top: 4rem;
    padding: 0rem 1.2rem;
  }

  .container {
    display: block;
    width: 100%;
  }

  .imageBox {
    width: 100%;
    height: 26vh;
    overflow: hidden;
    border-radius: 3px;
    img {
      width: 100%;
      height: 100vh;
    }
  }

  .detailBox {
    width: 100%;
    padding: 0;

    li {
      &:first-child {
        font-size: 18px;
        margin-top: .4rem;
      }
      &:nth-child(2) {
        width: 100%;
        font-size: 14px;
        div {
          justify-content: space-between;
          p {
            font-size: 16px;
            margin-right: .3rem;
          }
          svg {
            width: 1.2rem;
            height: 1.2rem;
          }
        }
      }
      &:nth-child(3) {
        font-size: 14px;
        margin-top: .5rem;
      }
      &:last-child {
        width: 100%;
        font-size: 12px;
        line-height: 16px;
      }
    }
  }

  .similar {
    p {
      font-size: 14px;
      margin-top: 1.2rem;
    }
    img {
      width: 100px;
      height: fit-content;
    }
  }

  .cover {
    padding: .5rem;
    li {
      margin-top: .1rem;
      &:nth-child(2) {
        font-size: 14px;
      }
      &:nth-child(3) {
        font-size: 12px;
      }
      &:last-child {
        font-size: 12px;
        margin-top: .1rem;
        line-height: 15px;
      }
    }
  }

  .review {
    width: 100%;
    margin: 1.2rem auto;
    ul {
      margin-top: .8rem;
      li {
        margin: 0;
        padding: .8rem;
      }
    }
  }

  .title {
    p {
      font-size: 16px;
    }
    button {
      font-size: 14px;
    }
  }

  .iconBox {
    margin-left: 0;
    margin-right: 1rem;
    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .textBox {
    p {
      &:first-child {
        font-size: 13px;
        span {
          font-size: 11px;
        }
      }
      &:last-child {
        font-size: 12px;
      }
    }
  }

  .buttonBox {
    svg {
      width: 1rem;
      height: 1rem;
      margin: .3rem;
    }
  }

  .nonReview {
    font-size: 14px;
    line-height: 24px;
  }

  .addBox {
    width: 75vw;
    height: 320px;
    padding: 1.5rem;
    h2 {
      font-size: 18px;
    }
    svg {
      top: 1.4rem;
      right: 1.4rem;
      width: 1.4rem;
      height: 1.4rem;
    }

    .addText {
      input {
        width: 50%;
        margin-top: 25px;
      }
      textarea {
        margin-top: 12px;
        font-size: 12px;
      }
      p {
        font-size: 12px;
      }
    }

    button {
      font-size: 14px;
      padding: 6px 14px;
    }
  }
}