.wrapper {
  margin-top: 5rem;
  padding: 3rem;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
}

.imageBox {
  img {
    border-radius: 3px;
  }
}

.detailBox {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  padding-left: 4rem;

  li {
    &:first-child {
      font-size: 50px;
      font-weight: 500;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
    }
    &:nth-child(2) {
      width: 90%;
      font-size: 18px;
      color: #999;
      margin-top: .2rem;
      display: flex;
      justify-content: space-between;
      div {
        display: flex;
        align-items: center;
        p {
          color: #fff;
          font-size: 35px;
          font-weight: 500;
          margin-right: .5rem;
        }
        svg {
          color: #ffd93d;
          width: 2.5rem;
          height: 2.5rem;
        }
      }
    }
    &:nth-child(3) {
      color: #ccc;
      margin-top: 1rem;
      font-size: 18px;
      font-weight: 400;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
    }
    &:last-child {
      margin-top: .4rem;
      color: #ccc;
      width: 90%;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }
  }


}
